language: python
# python managed by conda until 3.7 available
# python:
# - '3.6'
addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - g++-4.9
    - verilator
before_install:
- source .travis/install_coreir.sh
install:
# install conda for py 3.7
- wget http://repo.continuum.io/miniconda/Miniconda-latest-Linux-x86_64.sh -O miniconda.sh
- chmod +x miniconda.sh
- ./miniconda.sh -b -p $TRAVIS_BUILD_DIR/miniconda
- export PATH=$TRAVIS_BUILD_DIR/miniconda/bin:$PATH
- hash -r
- conda config --set always_yes yes --set changeps1 no
- conda update -q conda
- conda create -q -n test-env python=3.7
- source activate test-env
- conda install pip
# End install conda

addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - verilator
    - verilog
    - g++-4.9

install:
    # Convenience script for installing coreir on travis
    - wget https://raw.githubusercontent.com/phanrahan/magma/master/.travis/install_coreir.sh
    - source install_coreir.sh

    - pip install -r requirements.txt
    - pip install python-coveralls
    - pip install pytest-cov pytest-codestyle
    - pip install -e .

    # BEGIN GENESIS2 INSTALL
    - git clone https://github.com/StanfordVLSI/Genesis2.git
    - rm -rf Genesis2/Genesis2Tools/PerlLibs/ExtrasForOldPerlDistributions/Compress
    - export GENESIS_HOME=`pwd`/Genesis2/Genesis2Tools
    - export PATH=$GENESIS_HOME/bin:$GENESIS_HOME/gui/bin:$PATH
    - export PERL5LIB=$GENESIS_HOME/PerlLibs/ExtrasForOldPerlDistributions:$PERL5LIB
    # END GENESIS2 INSTALL

script:
    - pytest --codestyle
             --cov gemstone
             --ignore=filecmp.py
             --ignore=Genesis2/
             -v --cov-report term-missing tests


# disable coveralls for now
# after_success:
#    - coveralls
